
body{
    background-image: url(../image/fondo9.jpeg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: black;
   
}

.icons-comodin{
    display: flex;
    color: #e1a02e;
    width: 570px;
    height: 150px;
    background: url(../image/comodines.png);
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    background-size: cover;
    margin-top: 15%;
}


.panel{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0% auto;
}
.logo{
    width: 450px;
    margin-top: 8%;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav .white{
 list-style: none;
 color:white;
 font-size: 20px;
 display:flex;
 flex-direction: row;
}

.nav .orange{
    list-style: none;
    color:#e1a02e;
    font-size: 20px;
}

.game{
    color:white;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    width: 100%;
}

.question{
background:url(../image/quest.png);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
margin-top: 10%;
font-size: 60%;
display: flex;
justify-content: center;
height: 53px;
}

.question h2{
display: flex;
width: 70%;
align-items: center;
justify-content: center;
}



.button-a::before {
    content: 'A: ';
    color:#e1a02e;
}

.button-b::before {
    content: 'B: ';
    color:#e1a02e;
}

.button-c::before {
    content: 'C: ';
    color:#e1a02e;
}

.button-d::before {
    content: 'D: ';
    color:#e1a02e;
}

.answers{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.button{
    display: flex;
    width: 50%;
    background-image: url(../image/box.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.line1{
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
}


.button:hover{
    color: orange;
    cursor: pointer;
}

.progress{
    color:white;
}