
@font-face {
    font-family: 'fuente';
    src: url(../fonts/fuente3/Library\ 3\ am.otf);
    font-style: normal;
    font-weight: normal;
}


body{
    background-image: url(../image/Fondo.png);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: black;
    font-family: 'fuente';
   
}
.icons-comodin{
    display: flex;
    width: 1500px;
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    background-size: cover;
    margin-top: 10%;
}

.btn-comodin1{
    color:#fdeefd;
    height: 190px;
    width: 200px;
    background: url(../image/iconAudience.png);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    font-size:25px;
    font-family: 'fuente';
}


.btn-comodin2{
    color:#fdeefd;
    height: 190px;
    width: 200px;
    background: url(../image/iconTelephone.png);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    font-size:25px;
    font-family: 'fuente';
}
.btn-comodin3{
    color:#fdeefd;
    height: 190px;
    width: 200px;
    background: url(../image/icon50.png);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    font-size:25px;
    font-family: 'fuente';
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:0% auto;
}
.logo{
    width: 600px;
    padding-right: 40px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.nav ul{
    font-size: 30px;
}

.nav .white{
 list-style: none;
 color:white;
 display:flex;
 flex-direction: row;
}

.nav .orange{
    list-style: none;
    color:#5594a0;
}

.score{
    background-color: #e1a02e;
    border-radius: 35%;
}

#timeOut{
    color:white;
    font-size: 40px;
    width: 100px;
    position:absolute;
    margin-top:3%;
}

.game{
    color:white;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 225px;
    margin-inline: auto;
    margin-top: 11%;
    font-size: 20px;
}

.question{
    background: url(../image/quest.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 74%;
    font-size: 97%;
    font-optical-sizing: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 161px;
    align-content: stretch;
    margin-bottom: -6px;
    padding-bottom: 0px;
    margin-top: -36px;
}

.button-a::before {
    content: 'A: ';
    color:#e1a02e;
}

.button-b::before {
    content: 'B: ';
    color:#e1a02e;
}

.button-c::before {
    content: 'C: ';
    color:#e1a02e;
}

.button-d::before {
    content: 'D: ';
    color:#e1a02e;
}

.answers{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 99%;
    flex-wrap: wrap;
}

.container-button{
    display: flex;
    width: 50%;
    background-image: url(../image/box.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 0px;
}



.button:hover{
    color: orange;
}

.progress{
    color:white;
}

.success-answer{
   background-image: url(../image/greenAnswer.png);
}

.fail-answer{
    background-image: url(../image/redAnswer.png);
}

.pending-answer{
    background-image: url(../image/orangeAnswer.png);
}

.visible{
    visibility: visible;
}

.no-visible{
    visibility: hidden;
}