
@font-face {
    font-family: 'fuente';
    src: url(../fonts/fuente3/Library\ 3\ am.otf);
    font-style: normal;
    font-weight: normal;
}

body{
    background-image: url(../image/Fondo.png);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: 'fuente';
    background-color: black;
}

.icons-comodin{
    display: flex;
    width: 1300px;
    height: 80px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    background-size: cover;
    margin-top: 8%;
    color:#fdeefd;
}

.img-public{
    position: absolute;
    top:2%;
    left: 10%;
    width: 90%;
    height: 85%;
}

.btn-comodin1{
    color:#fdeefd;
    height: 170px;
    width: 200px;
    background: url(../image/iconAudience.png);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    font-size:20px;
    font-family: 'fuente';
}

.btn-comodin1:hover{
    cursor:pointer;
}

.btn-comodin2{
    color:#fdeefd;
    height: 170px;
    width: 200px;
    background: url(../image/iconTelephone.png);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    font-size:20px;
    font-family: 'fuente';
}
.btn-comodin2:hover{
    cursor:pointer;
}

.btn-comodin3{
    color:#fdeefd;
    height: 170px;
    width: 200px;
    background: url(../image/icon50.png);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    font-size:20px;
    font-family: 'fuente';
}
.btn-comodin3:hover{
    cursor:pointer;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:0% auto;
}
.logo{
    width: 600px;
    padding-right: 40px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.nav ul{
    font-size:20px;
}

.nav .white{
 list-style: none;
 color:white;
 display:flex;
 flex-direction: row;
}

.nav .orange{
    list-style: none;
    color:#5594a0;
}

.score{
    background-color: #e1a02e;
    border-radius: 35%;
}

#timeOut{
    color:white;
    font-size: 40px;
    width: 100px;
    position:absolute;
    margin-top:4%;
}

.game{
    color:white;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 225px;
    margin-inline: auto;
    margin-top: 10%;
    font-size: 20px;
}

.question{
    background: url(../image/quest.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 85%;
    font-size: 87%;
    font-optical-sizing: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    align-content: stretch;
    margin-bottom: -6px;
    padding-bottom: 0px;
    margin-top: -36px;
}

.button-a::before {
    content: 'A: ';
    color:#e1a02e;
}

.button-b::before {
    content: 'B: ';
    color:#e1a02e;
}

.button-c::before {
    content: 'C: ';
    color:#e1a02e;
}

.button-d::before {
    content: 'D: ';
    color:#e1a02e;
}

.answers{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 99%;
    flex-wrap: wrap;
}

.container-button{
    display: flex;
    width: 50%;
    background-image: url(../image/box.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 58px;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 0px;
}

.button:hover{
    color: orange;
}

.progress{
    color:white;
}
/* Cambios dinámicos con eventos*/  

.success-answer{
   background-image: url(../image/greenAnswer.png);
}

.fail-answer{
    background-image: url(../image/redAnswer.png);
}

.pending-answer{
    background-image: url(../image/orangeAnswer.png);
}

.public-hidden{
    background-image: url(../image/iconAudienceHiden.png);
}

.telephone-hidden{
    background-image: url(../image/iconTelephoneHiden.png);
}

.divide-hidden{
    background-image: url(../image/icon50Hiden.png);
}

.hidden-box-answers{
    visibility: hidden;
}

.hidden{
    display:none;
}

#video-game-over{
  width: 100%;
  height: 100%;
  margin: 0%;
}

.replay{
    display:none;
    position:absolute;
    left: 45%;
    top: 57%;
}

.img-replay{
    width: 25%;
}

.img-replay:hover{
    cursor: pointer;
}

.winner{
    width:100%;
    position:absolute;
}
